<!DOCTYPE html>
<html lang="en" ng-app="PackageQuality">

	<head>
		<meta charset="UTF-8"/>
		<title>Package Quality</title>

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<link rel="icon" href="/favicon.ico"/>

		<link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="lib/flat-ui/css/flat-ui.min.css"/>
	</head>

	<body ng-controller="MainController" style="padding-top: 3em; padding-bottom: 3em" class="container">

		<!-- logo -->

		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<img src="img/logo.png" alt="Package" style="display: block; margin: 1em auto; height: 7em"/>
			</div>
		</div>

		<!-- Fork me button -->

		<a href="https://github.com/alexfernandez/package-quality" target="_blank" style="position: fixed; top: 0; right: 0" class="hidden-xs">
			<img src="/img/forkme.png"/>
		</a>

		<!-- Search box -->

		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 form-group has-feedback">
				<input ng-disabled="isLoadingPackage"
					   type="text"
					   ng-model="query"
					   ng-keyup="keyup($event.keyCode)"
					   typeahead="package for package in autocompletablePackages | filter:$viewValue"
					   typeahead-min-length="4"
					   typeahead-wait-ms="1000"
					   class="form-control"
					   placeholder="Type a package name and press ENTER"/>
				<span class="form-control-feedback" style="padding-right: 2.5em; color: #777" ng-show="isLoadingPackage">
					<i class="fa fa-spinner fa-spin"></i>
				</span>
			</div>
		</div>

		<!-- Package stats -->

		<div class="row" ng-if="package.notfound">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				Package "{{ package.query }}" not found.
			</div>
		</div>

		<div class="row" ng-if="package && !package.notfound" style="padding-bottom: 1em">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<!--
				<input type="range" ng-model="package.quality" min="0" max="1" step="0.01"/>
				-->
				<div style="margin-bottom: 0.5em">
					<h4 style="margin-bottom: 0">
						{{ package.name }}
						<span class="pull-right" style="font-size: smaller">
							<span ng-repeat="range in [[0, 1], [12, 25], [37, 50], [62, 75], [87, 99]]">
								<span class="fa fa-star-o" ng-if="package.quality * 100 < range[0]"></span>
								<span class="fa fa-star-half-empty" ng-if="package.quality * 100 >= range[0] && package.quality * 100 <= range[1]"></span>
								<span class="fa fa-star" ng-if="package.quality * 100 > range[1]"></span>
							</span>
						</span>
					</h4>
					<h7 ng-if="!packageUrl(package)">Package from <b>{{ package.source }}</b></h7>
					<h7 ng-if="packageUrl(package)">Package from <a ng-href="{{ packageUrl(package) }}"><b>{{ package.source }}</b></a></h7>
				</div>
				<p>{{ package.description }}</p>

				<div style="margin: 1.5em 0">

					<div>
						Package quality
						<span class="pull-right">
							{{ ((package.quality || 0) * 100).toFixed(1) }}
						</span>
						<div class="progress">
							<div class="progress-bar" style="width: {{ package.quality * 100}}%;"></div>
						</div>
					</div>

					<div ng-repeat="metric in metrics">
						{{ metric.label }}
						<span class="pull-right">
							{{ ((package[metric.key][0] || 0) * 100).toFixed(1) }}
						</span>
						<div class="progress">
							<div class="progress-bar" style="width: {{ package[metric.key][0] * 100}}%;"></div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row package-share" ng-if="package && !package.notfound">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<hr>

				<h5>
					Share this package
				</h5>
				<p>
					Use the following snippets to share this package quality:
				</p>
				<img ng-src="{{ genShieldUrl(package) }}"/>

				<img ng-src="{{ genBadgeUrl(package) }}"/>

				<div ng-repeat="format in shareFormats">
					<small ng-bind="format.title"></small>
					<input readonly ng-value="format.markup(package)" select-on-click/>
				</div>
			</div>
		</div>

		<div class="row" ng-if="DEBUG && package">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<h6>Debug info</h6>
				<pre>{{ package | json }}</pre>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="lib/flat-ui/js/flat-ui.min.js"></script>
		<script src="js/main.js"></script>
		<script src="lib/angular-ui/ui-bootstrap-tpls-0.9.0.min.js"></script>

		<!-- LibreCounter -->
		<div class="row" style="display: flex; justify-content: center;">
			<a href="https://librecounter.org/packagequality.com/show">
				<img src="https://librecounter.org/counter.svg" referrerPolicy="unsafe-url" width="64">
			</a>
		</div>
	</body>
</html>
