<!DOCTYPE html>
<html lang="en" ng-app="PackageQuality">

	<head>
		<meta charset="UTF-8"/>
		<title>Package Quality</title>

		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<link rel="icon" href="../../favicon.ico"/>

		<link rel="stylesheet" href="css/style.css" media="screen" type="text/css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="lib/flat-ui/css/flat-ui.min.css"/>
	</head>

	<body ng-controller="MainController">

		<!-- logo -->

		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<img src="lib/flat-ui/img/icons/svg/clipboard.svg" alt="Package" style="display: block; margin: 1em auto"/>
			</div>
		</div>

		<!-- Search box -->

		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 form-group">
				<input type="text" ng-model="query" typeahead="package for package in packages | filter:$viewValue" class="form-control" placeholder="Type to search a package"/>
			</div>
		</div>

		<!-- Package stats -->

		<div class="row" ng-if="isLoadingPackage">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" style="text-align: center; font-size: 3em; color: gray">
				<i class="fa fa-spinner fa-spin"></i>
			</div>
		</div>

		<div class="row" ng-if="package">
			<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
				<h4>{{ package.name }}</h4>
				<div class="progress" ng-repeat="metric in metrics">
					<div class="progress-bar" style="width: {{ package[metric] * 100}}%;"></div>
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="lib/flat-ui/js/flat-ui.min.js"></script>
		<script src="js/main.js"></script>
		<script src="lib/angular-ui/ui-bootstrap-tpls-0.9.0.min.js"></script>
	</body>
</html>
